.wrapper {
  margin-bottom: 20px;
}

.navbarLink {
  text-decoration: none;
  color: white;

  Button {
    //font-weight: bold;
    font-size: large;
    text-transform: none;
  }
}

.drawerLink {
  text-decoration: none;
  color: black;

  ListItemText {
    font-weight: bold;
  }
}

.menuButton {
  margin-right: 10px;
}

.logo {
  font-weight: bolder;
  flex-grow: 1;
  font-size: xx-large;
}




